@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.test_header {
  background-color: #2D394B;
  height: 0px;
}
.header_fixed {
  position: relative;
  bottom: 0px;
  /* background-color: black; */
  background-color: #221E22;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 17px;
  z-index: 1;
  height: 60px;
  display: flex;
}
.header #head{
  position: fixed;
}
.logo {
	margin-left: 50px;
	display: flex;
}
.logo_image {
	margin-right: 0px;
	margin-left: 10px;
	cursor: pointer;
	height: 15px;
	width:15px;
}
.logo_image img {
    height: 50px;
    width: 100px;
    position: relative;
    left: 216px;
    bottom: 5px;
}
.logo_text h1:hover {
	font-size: 24px;
	font-family: 'Abril Fatface';
	cursor: pointer;
	color: wheat;
	/* box-shadow: 1px 1px 1px #FC653E; */
	box-shadow: 1px 1px 1px #e29f01;
}
.logo_text p {
	font-size: 10px;
	margin-top: -6px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	cursor: pointer;
	color: #A1A1A1;
}
.menu {
		text-transform: uppercase;
		display: flex;
		font-size: 12px;
		margin-left: 350px;
		padding-top: 17px;
}
.menu div {
	margin-right: 70px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	cursor: pointer;
	transition: 0.5s all;
	color: #F0F0F0;
}
#mobile_phones {
	display: none;
}
#laptops {
	display: none;
}
#accessories {
	display: none;
}
#contact_us {
	margin-right: 250px;
}
#registration_1 {
	margin-right: 20px;
}
#registration_1:hover {
	color: #00AEEF;
}
#registration_2 {
	display: none;
}
#registration_2:hover {
	color: #00AEEF;
}
.menu div:hover {
	/* color: #FC653E; */
	color: #e29f01;
}
.electronic_parts {
	position: absolute;
	margin-left: -710px;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-top: 35px;
	width: 180px;
	text-align: center;
	color: #F0F0F0;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	cursor: pointer;
	display: none;
	padding-bottom: 10px;
}

.mobile_phones:hover {
	color: #e29f01;
}

.laptops:hover {
	color: #e29f01;
}
.accessories:hover {
	color: #e29f01;
}
#about_us {
	
}
.dropdown_electronic{
    
	position: relative;
	display: inline-block;
  
}
.electronic_parts a {
color: rgb(255, 255, 255);
padding: 12px 16px;
text-decoration: none;
display: block;

}
.electronic_parts a:hover {background-color: #e29f01;}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #F0F0F0;
}

html::-webkit-scrollbar-thumb {
  background: #e29f01;
}

section {
  padding: 5rem 9%;
}


.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #e29f01;
  color: #F0F0F0;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}
.btn:hover {
  background:  #e29f01;
  color: #F0F0F0 ;
}

.home {
  padding: 0;
}

.home .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover !important;
  background-position: center !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem 9%;
}

.home .box.second {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home .box .content {
  width: 50rem;
}

.home .box .content span {
  font-size: 35px;
  color: #e29f01;
}

.home .box .content h3 {
  font-size: 25px;
  color: #e29f01;
  padding-top: .5rem;
  text-transform: uppercase;
}

.home .box .content p {
  line-height: 2;
  color: #F0F0F0;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color:  #e29f01;
}
.about {
  background: #221E22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.about .image img {
  width: 100%;
  -webkit-box-shadow: 4rem 4rem 0 #e29f01;
          box-shadow: 4rem 4rem 0 #e29f01;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .content h3 {
  font-size: 3rem;
  color: #F0F0F0;
}

.about .content p {
  font-size: 1.5rem;
  color: #F0F0F0;
  padding: 1rem 0;
  line-height: 2;
}
.shop{
  background:  #221E22;
}
.shop .slide {
  border: 0.2rem solid #e29f01;;
}

.shop .slide:hover .image .icons {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.shop .slide .image {
  position: relative;
  overflow: hidden;
  height: 30rem;
  width: 100%;
}

.shop .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop .slide .image .icons {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  left: 0;
  text-align: center;
  z-index: 10;
  -webkit-transform: translateY(7rem);
          transform: translateY(7rem);
}



.shop .slide .content {
  padding: 1rem 0;
  text-align: center;
}

.shop .slide .content h3 {
  font-size: 2rem;
  color: #e29f01;
}

.shop .slide .content .price {
  padding: 1rem 0;
  padding-top: .5rem;
  font-size: 2rem;
  color: #F0F0F0;
}

.shop .slide .content .stars i {
  font-size: 1.7rem;
  color: rgb(207, 28, 28);
}


.reviews{
  background: #221E22;
}

.reviews .slide .text {
  padding: 2rem;
  font-size: 1.5rem;
  font-style: italic;
  background: #e29f01;
  border-radius: .5rem;
  color: #10221b;
  line-height: 2;
  position: relative;
  z-index: 0;
  margin-bottom: 3rem;
}

.reviews .slide .text::before {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: .7rem;
  height: 3rem;
  width: 3rem;
  background: #F0F0F0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.reviews .slide .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.reviews .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.reviews .slide .user h3 {
  font-size: 2rem;
  color: #e29f01;
}

.reviews .slide .user span {
  color: #F0F0F0;
  font-size: 1.5rem;
}
.newsletter {
  background: #221E22;
}
.newsletter .content h1{
  color:#e29f01;
}
.newsletter .content {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}

.newsletter .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #F0F0F0;
}

.newsletter .content form {
  margin-top: 2rem;
  background: #e29f01;
  border-radius: 5rem;
  border: 0.2rem solid #e29f01;
  padding: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletter .content form .email {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #221E22;
  padding: 0 1.3rem;
}

.newsletter .content form .btn {
  margin-top: 0;
  border-radius: 5rem;
  background: #221E22;
  color: #fff;
}

.newsletter .content form .btn:hover {
  background: none;
  color: #10221b;
}

.clients .silde {
  text-align: center;
}

.clients .silde img {
  height: 12rem;
}
.footer {
	height: 330px;
	background-color: #25292C;
	display: flex;
	color: white;
	padding-top: 80px;
	/* background-color: #1A1A1A; */
	background-color: #221E22;
	border-top: 1px dashed gold;
}

.logo_footer {
	margin-left: 62px;
	margin-right: 160px;
	display: flex;
	margin-top: 37px;
}

.logo_image_footer {
	margin-right: 0px;
	cursor: pointer;
}

.logo_text_footer {
	padding-top: 3px;
	cursor: pointer;
}

.logo_footer h1 {
	font-size: 20px;
	font-family: 'Abril Fatface', display;
	cursor: pointer;
	/* color: wheat; */
	color: #F0F0F0;
}

.logo_footer p {
	font-size: 10px;
	margin-top: -6px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	color: #A1A1A1;
	cursor: pointer;
}

.column_1_footer {
	margin-right: 200px;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	cursor: pointer;
	/* color: wheat; */
	color: #F0F0F0;
	transition: 0.5s all;
}

.column_1_footer div:hover {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	cursor: pointer;
	/* color: #FC653E; */
	color: #e29f01;
}

.column_2_footer {
	margin-right: 200px;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	cursor: pointer;
	/* color: wheat; */
	color: #F0F0F0;
}

.column_2_footer div:hover {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	cursor: pointer;
	/* color: #FC653E; */
	color: #e29f01;
}

#darme_footer:hover {
	/* color: wheat; */
	color: #F0F0F0;
}

.column_3_footer {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: whitesmoke;
}

.column_3_div12{
	color: #e29f01;
	font-size: 17px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.copyright_footer {
	color: #ADADAD;
	position: absolute;
	text-decoration: none;
	margin-top: 225px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-left: 560px;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }
  .home .box {
    padding: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: right !important;
  }
  .home .box.second {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: left !important;
  }
  .home .box .content {
    text-align: center;
  }
  .home .box .content span {
    font-size: 3rem;
  }
  .home .box .content h3 {
    font-size: 4rem;
  }
  
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    left: -110%;
    background: #fff;
    z-index: 10000;
    width: 35rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
}